# Initialization

In [1]:
import logging

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
%matplotlib inline
%config InlineBackend.figure_format = 'png'
%config InlineBackend.figure_format = 'retina'

# Загрузка данных

In [3]:
items = pd.read_parquet("items.par")
events = pd.read_parquet("events.par")

# Разбиение с учётом хронологии

Рекомендательные системы на практике работают с учётом хронологии. Поэтому поток событий для тренировки и валидации полезно делить на то, что уже случилось, и что ещё случится. Это позволяет проводить валидацию на тех же пользователях, на которых тренировались, но на их событиях в будущем.

# === Знакомство: "холодный" старт

In [4]:
# зададим точку разбиения
train_test_global_time_split_date = pd.to_datetime("2017-08-01").date()

train_test_global_time_split_idx = events["started_at"] < train_test_global_time_split_date
events_train = events[train_test_global_time_split_idx]
events_test = events[~train_test_global_time_split_idx]

# количество пользователей в train и test
users_train = events_train["user_id"].drop_duplicates()
users_test = events_test["user_id"].drop_duplicates()
# количество пользователей, которые есть и в train, и в test
common_users = set(users_train) & set(users_test)

print(len(users_train), len(users_test), len(common_users))

428220 123223 120858

In [5]:
cold_users = set(users_test) - set(users_train)

print(len(cold_users))

2365

In [6]:
top_pop_start_date = pd.to_datetime("2015-01-01").date()

item_popularity = events_train \
    .query("started_at >= @top_pop_start_date") \
    .groupby(["book_id"]).agg(users=("user_id", "nunique"), avg_rating=("rating", "mean")).reset_index()
item_popularity["popularity_weighted"] = item_popularity["users"] * item_popularity["avg_rating"]

# сортируем по убыванию взвешенной популярности
item_popularity = item_popularity.sort_values('popularity_weighted',
                                              ascending=False)

# выбираем первые 100 айтемов со средней оценкой avg_rating не меньше 4
top_k_pop_items = item_popularity.query('avg_rating>=4').iloc[:100]

In [7]:
top_k_pop_items

        book_id  users  avg_rating  popularity_weighted
32387  18007564  20207    4.321275              87320.0
32623  18143977  19462    4.290669              83505.0
30695  16096824  16770    4.301014              72128.0
2             3  15139    4.706057              71245.0
3718      38447  14611    4.232770              61845.0
...         ...    ...         ...                  ...
19596   2767052   4361    4.413437              19247.0
32835  18293427   4674    4.092640              19129.0
378        3636   4667    4.098564              19128.0
33611  18966819   4361    4.374914              19079.0
37118  26252859   4371    4.293068              18765.0

[100 rows x 4 columns]

In [9]:
events_test[events_test["user_id"].isin(cold_users)]

,user_id,book_id,started_at,read_at,is_read,rating,is_reviewed,started_at_month
39766,1361610,6900,2017-10-09,2017-10-13,True,4,False,2017-10-01
39767,1361610,12555,2017-09-21,2017-10-11,True,3,False,2017-09-01
39768,1361610,25899336,2017-09-12,2017-09-17,True,4,True,2017-09-01
39769,1361610,21936809,2017-08-20,2017-08-24,True,4,True,2017-08-01
39770,1361610,6952,2017-09-18,2017-09-20,True,3,False,2017-09-01
...,...,...,...,...,...,...,...,...
12905615,1178502,252499,2017-09-30,2017-10-06,True,4,False,2017-09-01
12905624,1253160,51113,2017-09-25,2017-10-07,True,4,False,2017-09-01
12905625,1253160,16181775,2017-09-24,2017-09-25,True,3,False,2017-09-01
12905626,1253160,10210,2017-09-16,2017-09-24,True,5,False,2017-09-01
12905628,1253160,7907782,2017-08-15,2017-09-05,True,4,False,2017-08-01

In [11]:
cold_users_events_with_recs = \
    events_test[events_test["user_id"].isin(cold_users)] \
    .merge(top_k_pop_items
        , on="book_id", how="left")

cold_user_items_no_avg_rating_idx = cold_users_events_with_recs["avg_rating"].isnull()
cold_user_recs = cold_users_events_with_recs[~cold_user_items_no_avg_rating_idx] \
    [["user_id", "book_id", "rating", "avg_rating"]]

In [13]:
cold_user_recs.shape[0]\
    /events_test[events_test["user_id"].isin(cold_users)].shape[0]

0.19768403639371382

In [14]:
1 - 0.1977

0.8023

In [16]:
# посчитаем метрики рекомендаций
from sklearn.metrics import mean_squared_error, mean_absolute_error

rmse = mean_squared_error(cold_user_recs["rating"], cold_user_recs["avg_rating"], squared=False)
mae = mean_absolute_error(cold_user_recs["rating"], cold_user_recs["avg_rating"])
print(round(rmse, 2), round(mae, 2))

0.78 0.62

In [17]:
# посчитаем покрытие холодных пользователей рекомендациями

cold_users_hit_ratio = cold_users_events_with_recs.groupby("user_id").agg(hits=("avg_rating", lambda x: (~x.isnull()).mean()))

print(f"Доля пользователей без релевантных рекомендаций: {(cold_users_hit_ratio == 0).mean().iat[0]:.2f}")
print(f"Среднее покрытие пользователей: {cold_users_hit_ratio[cold_users_hit_ratio != 0].mean().iat[0]:.2f}")

Доля пользователей без релевантных рекомендаций: 0.59
Среднее покрытие пользователей: 0.44

# === Знакомство: первые персональные рекомендации

# === Базовые подходы: коллаборативная фильтрация

# === Базовые подходы: контентные рекомендации

# === Базовые подходы: валидация

# === Двухстадийный подход: метрики

# === Двухстадийный подход: модель

# === Двухстадийный подход: построение признаков